*, 
*::before,
*::after {
  box-sizing: border-box;
}


.contactSection {
    padding: 2rem;

  }
  .heading {
    text-align: center;
    font-size: clamp(1.8rem, 10vw, 4.5rem);
    margin-bottom: 2rem;
  }
  
  .container {
   
    display: flex;
    gap: 1rem;
    

  }
  

  .left {
   
   width: 100%;
   max-width: 400px;
   padding: 1rem;
  

   
  }

  .name {
    background-color: #660000;
    padding: .5rem;
    margin: 1rem;
  }

  .email {
    background-color: #660000;
    padding: .5rem;
    margin: 1rem;
  }

  .location {
    margin: 1rem;
    padding: .5rem;
    background-color: #660000;
    
  }
  
  .right {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    overflow-x: hidden;
    
  }


  .right input,
  .right textarea {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    max-width: 100%;
    margin: .0 0 .75rem 0;
    padding: .5rem;
    box-sizing: border-box;
  }

.right label {
  display: block;
  text-align: left;
}



@media screen and (max-width:1280px) {
 
 
}

@media screen and (max-width:1024px) {
 
 
}

@media screen and (max-width:768px) {

}

@media screen and (max-width:640px) {
  .container {
    flex-direction: column;
  } 
}