.contactSection {
    padding: 2rem;
  }
  
  .heading {
    text-align: center;
    font-size: clamp(1.8rem, 10vw, 4.5rem);
    margin-bottom: 2rem;
  }
  
  .container {
    border: 5px solid white;
    display: flex;
    gap: 2rem;
  }
  

  .left {
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    
  }
  
  .right {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    align-items: flex-start;
   width: 100%;
   max-width: 400px;
   padding: 1rem;
    
  }
  .right input,
  .right textarea {
    display: block;
    width: 100%;
    font-size: 1rem;
    max-width: 100%;
    margin: .25rem;
    text-align: left;
    padding: .5rem;
  }

.yourName {
    width: 100%;
    max-width: 400px;

}