.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.grid {
    
    display: grid;
    gap: 1rem;
    
    grid-template-columns: 
        repeat(auto-fit, minmax(300px, 1fr));
}

.header  h2 {
    place-items: center;
}


.card {
    
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #3B3B3B;
    
}

.card p {
    flex: 1;
    padding: .35rem;
}


.logo {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 0.5rem;

}

.logo img {
    width: 250px;
    height: auto;
    object-fit: contain;
}


